/* Required for full background image */

html,
body,
header,
.view {
    height: 100%;
}

@media (max-width: 740px) {
    header {
        height: 100vh;
    }
}

.top-nav-collapse {
    background-color: purple !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: white !important;
    }
}

.jarallax {
    min-height: auto;
}