/* Required for full background image */

html,
body,
header,
.view {
    height: 100%;
}

@media (max-width: 740px) {
    header {
        height: 100vh;
    }
}

.top-nav-collapse {
    background-color: #6860d1 !important;
}

.navbar:not(.top-nav-collapse) {
    background: #6860d1 !important;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #6860d1 !important;
    }
}

.jarallax {
    min-height: auto;
}

.half::before,
.full::before,
.full::after {
    content: '\0020 \2014 \0020';
}

.carousel-control-next,
.carousel-control-prev {
    background-color: #6860d1 !important;
}